echo debug.log >> .gitignore
  
git rm --cached debug.log
rm 'debug.log'
  
git commit -m "Start ignoring debug.log";


echo .github >> .gitignore
  
git rmdir --cached .github
rmdir '.github'
  
git commit -m "Start ignoring .github"


echo .vscode >> .gitignore
  
git rmdir --cached .vscode
rmdir '.vscode'
  
git commit -m "Start ignoring .vscode"


echo bin >> .gitignore
  
git rmdir --cached bin
rmdir 'bin'
  
git commit -m "Start ignoring bin"


echo obj >> .gitignore
  
git rmdir --cached obj
rmdir 'obj'
  
git commit -m "Start ignoring obj"

debug.log
.github
.vscode
bin
obj
