$ echo debug.log >> .gitignore
  
$ git rm --cached debug.log
rm 'debug.log'
  
$ git commit -m "Start ignoring debug.log";


$ echo .github >> .gitignore
  
$ git rm dir --cached .github
rm dir '.github'
  
$ git commit -m "Start ignoring .github"


$ echo .vscode >> .gitignore
  
$ git rm dir --cached .vscode
rm dir '.vscode'
  
$ git commit -m "Start ignoring .vscode"


$ echo bin >> .gitignore
  
$ git rm dir --cached bin
rm dir 'bin'
  
$ git commit -m "Start ignoring bin"


$ echo obj >> .gitignore
  
$ git rm dir --cached obj
rm dir 'obj'
  
$ git commit -m "Start ignoring obj"

