@page "/contact"

<PageTitle>Messenger Masonry | Contact</PageTitle>

<div class="heroWrapper">
  <div class="heroContainer contactHero topHero">
    <div class="heroContent">
      <h1>
        Request a<br>
        <span class="accentFont">free quote</span><br>
      </h1>
    </div>
  </div>
</div>