@page "/contact"

<PageTitle>Messenger Masonry | Contact</PageTitle>

<div class="heroWrapper">
  <div class="heroContainer contactHero topHero">
    <div class="heroContent">
      <h1>
        Request a<br>
        <span class="accentFont">free quote</span><br>
      </h1>
        <p>
          We would love to hear about your plans for your home or office and we would be happy to provide a free quote.
        </p><br>
        <p>
          We are based out of Kitchener, Ontario but we are willing to travel to meet the needs of our clients. Please don’t hesitate to reach out or follow us on social media!
        </p>
      <ul class="contactLinks">
        <li>
          <div class="contactIcon personIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
              <path d="M4 0c-1.1 0-2 1.12-2 2.5s.9 2.5 2 2.5 2-1.12 2-2.5-.9-2.5-2-2.5zm-2.09 5c-1.06.05-1.91.92-1.91 2v1h8v-1c0-1.08-.84-1.95-1.91-2-.54.61-1.28 1-2.09 1-.81 0-1.55-.39-2.09-1z" />
            </svg>
          </div>
          <span>
            Justin Messenger
          </span>
        </li>
        <li>
          <a href="tel:+0">
            <div class="contactIcon phoneIcon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                <path d="M.19 0c-.11 0-.19.08-.19.19v7.63c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19v-7.63c0-.11-.08-.19-.19-.19h-4.63zm.81 1h3v5h-3v-5zm1.5 5.5c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z" transform="translate(1)" />
              </svg>
            </div>
            <span>
              226-555-0123
            </span>
          </a>
        </li>
        <li>
          <a href="mailto:messengerMasonry@outlook.com">
            <div class="contactIcon mailIcon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                <path d="M0 0v1l4 2 4-2v-1h-8zm0 2v4h8v-4l-4 2-4-2z" transform="translate(0 1)" />
              </svg>
            </div>
            <span>
              messengermasonry@outlook.com
            </span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <div class="contactIcon mailIcon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                <path d="M4.47 0c-.19.02-.37.15-.47.34-.13.26-1.09 2.19-1.28 2.38-.19.19-.44.28-.72.28v4h3.5c.21 0 .39-.13.47-.31 0 0 1.03-2.91 1.03-3.19 0-.28-.22-.5-.5-.5h-1.5c-.28 0-.5-.25-.5-.5s.39-1.58.47-1.84c.08-.26-.05-.54-.31-.63-.07-.02-.12-.04-.19-.03zm-4.47 3v4h1v-4h-1z"
                />
              </svg>
            </div>
            <span>
              messengermasonry
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
