@page "/"

<PageTitle>Messenger Masonry | Home</PageTitle>
<div class="heroWrapper">
  <div class="heroContainer homeHero topHero">
    <div class="heroContent">
      <h1>
        <span class="accentFont">quality masonry</span><br>
        that will last<br>
        <span class="accentFont">A lifetime</span>
      </h1>
      <a class="CTA" href="contact">
        REQUEST A QUOTE
      </a>
    </div>
  </div>
</div>
<div class="heroWrapper ">
  <div id="about" class="heroContainer aboutHero">
    <div class="heroContent">
      <h2><span class="accentFont">WHAT WE DO</span></h2>
      <p>
        We take on a variety of projects big and small. We specialize in: 
        <ul>
          <li>
            <span class"primaryText">Brick</span> 
          </li>
          <li>
            <span class"primaryText">Custom Stone</span>
          </li>
          <li>
            <span class"primaryText">Artificial Stone</span>
          </li>
          <li>
            <span class"primaryText">Fireplaces</span>
          </li>
          <li>
            <span class"primaryText">Stone Ovens</span>
          </li>
        </ul>
        We never compromise on the quality of our work or our materials. The work we provide will continue to look outstanding for years to come.
        We offer free consultation so please, don’t hesitate to reach out for a quote. 
      </p>
    </div>
  </div>
</div>
<div class="heroWrapper">
  <div class="heroContainer workHero">
    <div class="heroContent">
      <h1>You will get to know us better by 
        <span class="accentFont">our work.</span><br>
      </h1>
      <a class="CTA" href="work">
        OUR WORK
      </a>
    </div>
  </div>
</div>